* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #dfe5e8;
}

.pricing {
  width: 100%;
  max-width: 1192px;
  margin: 100px auto;
  padding: 0 10px;
}
.pricing-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 43px;
}
.pricing-item {
  position: relative;
  width: 362px;
  background-color: white;
  text-align: center;
}
.pricing-newmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
  height: 65px;
  line-height: 65px;
  background: url(../images/newmark.png) no-repeat;
  color: white;
  -webkit-transform: translate(-12px, -12px);
          transform: translate(-12px, -12px);
  z-index: 1;
}
.pricing-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -60px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 11;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffffff;
}
.pricing-price.price-mountain .value {
  color: #625e60;
}
.pricing-price.price-forest .value {
  color: #40b22d;
}
.pricing-price .value {
  font-size: 32px;
  color: #3399ff;
}
.pricing-price .tour-name {
  font-size: 16px;
  color: #99a9b5;
}
.pricing-image {
  position: relative;
  display: block;
  height: 272px;
}
.pricing-image img {
  width: 100%;
  height: 272px;
}
.pricing-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(57, 61, 80);
  opacity: 0.7;
}
.pricing-forest::after {
  opacity: 0;
}
.pricing-title {
  position: absolute;
  font-size: 45px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  line-height: 50px;
  z-index: 111;
}
.pricing-review {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  margin-top: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 25px;
  color: #b6c6c9;
  z-index: 111;
}
.pricing-subtitle {
  padding-top: 18.5px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #5f727f;
}
.pricing-subtitle-second {
  padding: 4.5px 0 19.5px;
  font-size: 14px;
  line-height: 25px;
  color: #99a9b5;
}
.pricing-content {
  list-style-type: none;
}
.pricing-desc {
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  color: #5f727f;
}
.pricing-desc:nth-child(odd) {
  background-color: #f4f6f7;
}
.pricing-button {
  cursor: pointer;
  width: 170px;
  height: 50px;
  margin: 50px 0 52px;
  font-size: 19px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3399ff;
  background-color: white;
  border: 1.5px solid #3399ff;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.pricing-button.btn-mountain {
  border-color: #625e60;
  color: #625e60;
}
.pricing-button.btn-forest {
  border-color: #40b22d;
  color: #40b22d;
}
.pricing-button:hover {
  border-color: purple;
  background-color: purple;
  color: white;
}
.pricing-button:hover + .pricing-price {
  color: white;
  background-color: #2c2e3d;
}
.pricing-button:hover + .pricing-price .value {
  color: purple;
}
@media (max-width: 1190px) {
  .pricing-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 80px 10px;
  }
}
@media (max-width: 1150px) {
  .pricing-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 80px 40px;
  }
}
@media (max-width: 790px) {
  .pricing-list {
    gap: 80px 15px;
  }
}